::ng-deep .mat-nav-list {
    width: 100%; 
    padding: 0; 
    margin: 0; 
    list-style: none; 
    color: white; 
    margin-top:-17px;
  }
  
  ::ng-deep .mat-nav-list a {
    display: block; 
    width: 100%; 
    color: white; 
    text-decoration: none; 
    padding: 10px 20px; 
    margin-top:-17px;
  }
  
  ::ng-deep .mat-nav-list a:hover {
    background-color: #555; 
    color: white; 
    margin-bottom:-1px;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    margin-top:1px;
  }
  
  .nav-icon {
    margin-right: 8px;

  }
  
  .nav-text {
    line-height: 28px; 
    
  }

 
  
