<mat-nav-list>
    <a mat-list-item routerLink="/home" class="nav-item">
      <mat-icon style="font-size:25px; height:25px; width:30px; margin-bottom:-5px" aria-hidden="false" aria-label="Home icon" class="nav-icon">home</mat-icon>
      <span class="nav-text">Home</span>
    </a>
    <a mat-list-item routerLink="/courses" class="nav-item">
      <mat-icon style="font-size:25px; height:25px; width:30px; margin-bottom:-5px" aria-hidden="false" aria-label="Courses icon" class="nav-icon">book</mat-icon>
      <span class="nav-text">Courses</span>
    </a>
    <a mat-list-item routerLink="/teachers" class="nav-item">
      <mat-icon style="font-size:25px; height:25px; width:30px; margin-bottom:-5px" aria-hidden="false" aria-label="Teachers icon" class="nav-icon">person</mat-icon>
      <span class="nav-text">Teachers</span>
    </a>
    <a mat-list-item routerLink="/contact" class="nav-item">
      <mat-icon style="font-size:25px; height:25px; width:30px; margin-bottom:-5px" aria-hidden="false" aria-label="Contact icon" class="nav-icon">phone</mat-icon>
      <span class="nav-text">Contact Us</span>
    </a>
  </mat-nav-list>
  